[flake8]
max-line-length = 88
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    node_modules,
    @local,
    tmp,
    migrations,
    .coverage
# E203: whitespace before ':' (conflicts with Black)
# W503: line break before binary operator (conflicts with Black)
ignore = E203, W503
per-file-ignores =
    # Allow imports at the end of __init__.py files
    __init__.py:E402